* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background: url(./imajes/confa.jpg) no-repeat center center/ cover;
  display: flow-root;
}

#btn-div {
  border: 3px solid black;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin: 476px auto 0 20px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
}
/* ggdgdg */
#Question-btn {
  position: relative;
  font-size: large;
  height: 50px;
  width: 200px;
  background: transparent;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Question-btn:hover {
  color: rgb(243, 96, 96);
}

#btn-div:hover {
  background-color: black;
  border: 3px solid rgb(243, 96, 96);
}

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.Modal-class {
  position: absolute;
  display: flow-root;
  display: none;
  width: 100px;
  height: 65px;
  top: 40%;
  left: 40%;
  z-index: 2;
  background-color: aqua;
  text-align: center;
  border-radius: 3px;
  box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
  /* display: flex;
   flex-direction: column; */
  animation-name: animaMode;
  animation-duration: 0.4s;
}
/* 
@keyframes animaMode {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 5%;
    opacity: 1;
  }
} */

@keyframes animaMode {
  from {
    transform: translateY(-300px);
    opacity: -1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  font-size: xx-large;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}

#here {
  padding-top: 6px;
  font-size: larger;
}

/* 
#modal-btn{
     position: relative;
     width: 100%;
     height: 100%;
} */

@media (min-width: 250px) and (max-width: 321px) {
  #btn-div {
    border: 3px solid black;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    margin: 390px auto 0 16px;
    box-shadow: -4px 4px 10px rgba(12, 11, 11, 5);
  }
   .Modal-class{
    width: 150px;
    height: 100px;
    margin-left: -14.5%;

  }
}



@media (min-width: 322px) and (max-width: 428.5px) {
 
#btn-div{
  margin-top:550px;
  } 

  .Modal-class{
    width: 150px;
    height: 100px;
    margin-left: -25%;

  }
}
  


@media (min-width: 322px) {
  .Modal-class{
    width: 150px;
    height: 100px;
    margin-left: -10%;

  }

}